# The empirical analysis of CAPM in SSE 180 Index

## Introduction for SSE 180 Index 

The SSE 180 Index (also known as SSE Component Index) refers to the Shanghai Stock Exchange's adjustment and renaming of the original SSE 30 Index. The sample stocks of SSE 180 are the most representative samples of all A-share stocks, and have been officially released since July 1, 2002.As the core of SSE index series, the preparation plan of SSE 180 index aims to establish a benchmark index that reflects the general situation and operation of Shanghai securities market, is operable and investable, and can be used as the investment evaluation criterion and the basis of financial derivatives.

## Overview of CAPM theoretical framework 

CPM model was built on the earlier work on diversification and modern portfolio theory, which was later improved by Sharpe, Markowitz and Merton Miller. The CAPM developed in the 1960s was a true revolution in financial theory, due to their contribution, William F. Sharpe received the Nobel prize in Economic Sciences in 1990 This Model basically is for estimating the capital assets using a linear equilibrium model of returns on investments that explains returns above risk-free rate using covariance with the overall market. (D≈æaja & Aljinoviƒá,2013). In market equilibrium the CAPM expresses the relationship between an asset‚Äôs expected return and so-called systematic risk beta in a liner function. (Sharpe, Litner, Mossin, 1966).. CAPM predicts that the expected return on an asset equals the risk-free rate plus a risk premium, it is linearly related to systematic risk measured by the assets‚Äô beta. (Basu and Chawla, 2010). Due to the simplicity and rationality of CAPM, CAPM still remains very popular in many situations. 

In the development of the asset pricing model, the assumptions of the models are( D≈æaja Aljinoviƒá,2013)( Basu& Chawla,2008)( Blac ,Jensen& Scholes,1972)

1)Investors are risk averse and willing to maximize their expected rate of return over a period

2)Investors prefer a portfolio with higher returns 

3)Free to lend and borrow with a risk-free interest 

4)The property is indefinitely divisible 

5)Trade without transaction or taxation costs.

## Methodology 

In empirical analysis, this model is expressed: 
    
                                     R_p=R_f+Œ≤_p (R_m-R_f )+Œµ_p   (1)
        
Where R_p  is the expected return of individual or portfolio stock in real estate industry, ùëÖùëì is a risk-free interest rate, ùëÖùëö represents the expected return of a market portfolio, ùõΩùëù measures the systematic risk of individual stock or market portfolio and ùúÄùëù is the stochastic error term. In this paper, CAPM is used to analyze the Shanghai property stock market and test whether the effectiveness of this model is verified.

This paper is to use time series regression based on CAPM model to make estimation about the individual and portfolio Œ≤, which will be useful to understand the risk about Shanghai real estate market; cross sectional regression-based method developed by Black, Jensen and Scholes (1972) is to verify the relationship between risk and expected return. 

The detailed steps are: First, separate the whole time range from May 1st, 2010 to May 1st, 2019 into three periods; Second: Use the data in the first period to calculate the beta for individual stock; Third, rank the individual beta of each stock from lowest to highest, and make different portfolios; Fourth: use the data of second term to estimate the portfolio beta; fifth, make the cross sectional regression using the third period data coupled with these portfolio betas to determine the relationships between expected return and risk. (Tao Zhao, 2001) (Wang and Geng, 2012) (Zhu, 2010)

## Data 
The data is collected from BaoStock, this is a free, open source securities data platform providing a large number of accurate, complete securities historical, financial data of public companies. Data information is obtained through python to meet the data requirements for econometric research. 
This paper selects 30 stocks from the Stock pool of SSE 180 Index from december, 2013 to december 30,2019, daily yield of trading days are almost six years. The 30 sample stocks gernerally cover the national economy including steel, real estate, finance, culture, medicine, energy, communications,transportation, software, agriculture, and so on. Also,the trading days were basically maintained for more than 1,400 days during the observation period. In general, the sample can reflect the overall operation of the market and China's securities marketand in line with the hypothesis of CAPM.

Here, SSE 180 is regarded as the market portfolio index and the return on stock of SSE 180 as the return of market portfolio. The Chinese researchers normally will either do the split-adjusted share prices about the data in stock markets (Wang& Geng, 2012), or reverse split-adjusted share prices (Liao& Wang, 2003) (Zhao, 2013). In this paper, all the data are collected using the reverse split-adjusted share prices, this is to consider the influence of dividend, allotment and stock segmentation on the data (Zhao, 2013). 
Regarding the return on every stock, there are two methods of calculation, one is logarithmic algorithm, using this way( Sakouvogui and Nganje, 2019), the data processed is approximately normal distribution, which is useful to improve the stability of time series; another is to subtract the closing price of the specific stock at the ending term and the initial closing price and then divide by the beginning closing price. (Zhao, 2013) (Wang & Geng 2012) 

Here, in order to ensure the stability of time series, logarithmic algorithm is used to calculate the daily return about stocks.

                                   R_it=Ln(P_it/P_(i(t-1)) ) (2)

Where, ùëÉùëñùë° is the closing price of stock i at moment t, ùëÉùëñ(ùë°‚àí1) is the closing price at moment t-1.

# Estimation for individual stock 
Rewrite the equation (1) into (3), Use Single Index Model estimation: 

                            R_it‚àíR_f=Œ±_i+Œ≤_i(R_mt‚àíR_f) +Œµ_it (3)

Where R_it is the daily return of stock i at time t; R_mt is the return of market portfolio; R_f is the return of the risk-free asset, here R_f equates 0.009027% (one-year deposit rate on bank of China/360) as Chinese researchers basically regard the deposit rate as risk free asset by default. (Liao and Shen, 2004).

In [1]:
import pandas as pd
df = pd.read_csv ('final .csv') 
print(df.shape)     # read the row 
print(df.columns)   # read the columns 
print(df.head(3))   # print the first row 
print(df.tail(3))   # print the last row to check the missing variables

(2189, 32)
Index(['date', 'sse180', 'sh.600009', 'sh.600010', 'sh.600295', 'sh.600019',
       'sh.600028', 'sh.600031', 'sh.600036', 'sh.600048', 'sh.600050',
       'sh.600066', 'sh.600068', 'sh.600085', 'sh.600111', 'sh.601628',
       'sh.600150', 'sh.600196', 'sh.600295.1', 'sh.600406', 'sh.601933',
       'sh.600536', 'sh.600547', 'sh.600598', 'sh.600600', 'sh.600690',
       'sh.600875', 'sh.600887', 'sh.600895', 'sh.601006', 'sh.601877',
       'sh.601899'],
      dtype='object')
         date    sse180  sh.600009  sh.600010  sh.600295  sh.600019  \
0  2011-01-04  6651.797      12.37       3.91      19.79       6.55
1  2011-01-05  6625.325      13.09       3.84      20.06       6.45
2  2011-01-06  6589.212      13.17       3.84      20.78       6.46

   sh.600028  sh.600031  sh.600036  sh.600048  ...  sh.600547  sh.600598  \
0       8.20      21.63      13.02      13.96  ...      53.00      13.45
1       8.11      22.00      12.97      14.01  ...      50.66      13.49
2       8.08      21.52      12.90      14.38  ...      50.05      13.57

   sh.600600  sh.600690  sh.600875  sh.600887  sh.600895  sh.601006  \
0      35.03      28.00      35.01      39.15       8.99       7.92
1      34.39      27.86      35.91      38.91       8.95       7.84
2      34.47      27.70      34.80      36.88       8.98       7.85

   sh.601877  sh.601899
0      24.18       8.35
1      24.58       8.11
2      24.22       7.99

[3 rows x 32 columns]
            date    sse180  sh.600009  sh.600010  sh.600295  sh.600019  \
2186  2019-12-27  8723.605      77.26       1.32       8.79       5.68
2187  2019-12-30  8859.993      77.86       1.32       8.93       5.75
2188  2019-12-31  8877.768      78.75       1.32       9.02       5.74

      sh.600028  sh.600031  sh.600036  sh.600048  ...  sh.600547  sh.600598  \
2186       5.05      16.65      37.86      15.87  ...      32.31       9.57
2187       5.08      16.78      37.83      16.27  ...      32.12       9.69
2188       5.11      17.05      37.58      16.18  ...      32.62       9.74

      sh.600600  sh.600690  sh.600875  sh.600887  sh.600895  sh.601006  \
2186      50.45      19.45       9.14      30.64      15.01       8.10
2187      51.09      19.31       9.17      30.83      15.32       8.22
2188      51.00      19.50       9.19      30.94      15.31       8.21

      sh.601877  sh.601899
2186      25.95       4.46
2187      26.91       4.49
2188      26.80       4.59

[3 rows x 32 columns]

#### Split the data into three periods and save as csv
#### First Period from 2013-10-08 to 2015-10-08

In [2]:
# df[(df['date']>='20131008')(df['date']<='20151008')]
mask = (df['date'] > '2013-10-06') & (df['date'] <='2015-10-08' )
# mask = (df['date'] > '10-08-2013') & (df['date'] <='10-08-2015' )
df = df.loc[mask]
df.loc[mask].to_csv('final_first period')
df

,date,sse180,sh.600009,sh.600010,sh.600295,sh.600019,sh.600028,sh.600031,sh.600036,sh.600048,...,sh.600547,sh.600598,sh.600600,sh.600690,sh.600875,sh.600887,sh.600895,sh.601006,sh.601877,sh.601899
664,2013-10-08,5275.141,14.98,4.08,6.99,4.24,4.47,7.64,10.91,10.38,...,22.25,12.23,42.65,13.81,11.96,44.90,8.55,7.14,22.62,2.60
665,2013-10-09,5298.426,15.15,4.05,6.98,4.23,4.49,7.61,10.96,10.21,...,22.14,13.45,42.32,14.31,11.89,46.31,8.55,7.06,22.75,2.59
666,2013-10-10,5228.953,14.67,4.03,6.80,4.20,4.44,7.44,10.78,10.14,...,21.79,12.94,41.90,15.74,11.73,46.76,8.48,7.00,22.88,2.57
667,2013-10-11,5327.928,15.25,4.08,6.99,4.25,4.47,7.58,10.94,10.17,...,21.93,12.75,43.46,15.82,12.07,46.36,9.00,7.09,23.15,2.59
668,2013-10-14,5326.885,15.87,4.10,7.18,4.26,4.45,7.74,10.80,9.90,...,21.72,13.34,46.87,15.95,12.29,45.43,8.82,7.30,25.47,2.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,2015-09-25,7125.868,28.17,3.64,7.11,5.56,4.87,6.44,17.72,8.02,...,17.32,13.53,31.46,9.43,12.64,15.40,20.42,9.09,30.62,3.51
1150,2015-09-28,7119.292,28.23,3.66,7.21,5.60,4.83,6.47,17.51,7.98,...,17.32,13.71,31.97,9.37,12.74,15.42,20.28,9.07,30.62,3.47
1151,2015-09-29,6976.287,27.68,3.53,7.04,5.47,4.72,6.32,17.44,7.72,...,17.32,13.74,31.94,9.03,12.33,15.27,19.29,8.82,30.62,3.37
1152,2015-09-30,7030.858,27.72,3.55,7.25,5.59,4.74,6.36,17.77,7.99,...,17.32,14.32,32.14,9.06,12.50,15.38,19.02,8.83,30.62,3.38
1153,2015-10-08,7216.037,28.65,3.64,7.50,5.77,4.89,6.58,17.73,8.25,...,18.03,15.75,32.42,9.34,13.27,15.86,19.85,9.02,30.62,3.48

#### Second Period from 2015-10-08 to 2017-10-08

In [3]:
# df[(df['date']>='20131008')(df['date']<='20151008')]
import pandas as pd
df = pd.read_csv ('final .csv') 
mask = (df['date'] > '2015-10-06') & (df['date'] <='2017-10-09' )
# mask = (df['date'] > '10-08-2013') & (df['date'] <='10-08-2015' )
df = df.loc[mask]
df.loc[mask].to_csv('final_second period')
df

,date,sse180,sh.600009,sh.600010,sh.600295,sh.600019,sh.600028,sh.600031,sh.600036,sh.600048,...,sh.600547,sh.600598,sh.600600,sh.600690,sh.600875,sh.600887,sh.600895,sh.601006,sh.601877,sh.601899
1153,2015-10-08,7216.037,28.65,3.64,7.50,5.77,4.89,6.58,17.73,8.25,...,18.03,15.75,32.42,9.34,13.27,15.86,19.85,9.02,30.62,3.48
1154,2015-10-09,7314.600,28.57,3.70,7.55,5.80,5.03,6.70,17.96,8.32,...,19.39,16.19,32.44,9.37,13.54,15.86,19.97,9.08,30.62,3.55
1155,2015-10-12,7531.195,28.57,3.86,7.81,5.98,5.15,7.00,18.19,8.57,...,20.02,16.81,33.56,9.72,14.23,16.16,20.80,9.35,30.62,3.74
1156,2015-10-13,7522.679,29.38,3.87,7.91,5.94,5.09,6.93,18.06,8.53,...,19.45,17.58,33.60,9.72,14.80,16.29,21.15,9.28,30.62,3.70
1157,2015-10-14,7449.195,28.68,4.20,7.74,5.88,5.07,6.76,17.85,8.33,...,19.48,16.79,33.51,9.56,14.50,15.99,20.91,9.15,30.02,3.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,2017-09-26,8293.150,38.43,2.70,14.74,7.27,5.96,7.35,25.71,10.65,...,31.74,11.75,30.51,14.52,10.40,25.80,16.82,8.91,21.56,3.93
1639,2017-09-27,8271.729,38.15,2.72,15.15,7.46,5.92,7.55,25.40,10.77,...,31.38,11.75,30.56,14.80,10.42,25.44,16.75,8.84,21.92,3.91
1640,2017-09-28,8269.078,38.33,2.70,14.73,7.34,5.90,7.48,25.20,10.44,...,31.19,11.96,30.59,14.91,10.42,26.40,16.76,8.85,21.50,3.87
1641,2017-09-29,8297.697,37.98,2.70,14.70,7.39,5.90,7.65,25.55,10.40,...,31.43,11.93,30.81,15.09,10.43,27.50,16.77,8.75,21.39,3.87
1642,2017-10-09,8366.398,38.56,2.72,14.81,7.46,5.87,7.77,26.08,10.54,...,31.56,12.34,31.10,15.35,10.51,27.79,16.81,8.87,22.18,3.90

#### Third Period from 2017-10-08 to 2019-10-08

In [4]:
# df[(df['date']>='20131008')(df['date']<='20151008')]
import pandas as pd
df = pd.read_csv ('final .csv') 
mask = (df['date'] > '2017-10-06') & (df['date'] <='2019-10-08' )
# mask = (df['date'] > '10-08-2013') & (df['date'] <='10-08-2015' )
df = df.loc[mask]
df.loc[mask].to_csv('final_third period')
df

,date,sse180,sh.600009,sh.600010,sh.600295,sh.600019,sh.600028,sh.600031,sh.600036,sh.600048,...,sh.600547,sh.600598,sh.600600,sh.600690,sh.600875,sh.600887,sh.600895,sh.601006,sh.601877,sh.601899
1642,2017-10-09,8366.398,38.56,2.72,14.81,7.46,5.87,7.77,26.08,10.54,...,31.56,12.34,31.10,15.35,10.51,27.79,16.81,8.87,22.18,3.90
1643,2017-10-10,8369.725,37.82,2.69,14.63,7.34,5.85,7.79,26.12,10.46,...,31.49,12.67,31.19,14.76,10.56,27.59,16.85,9.02,22.63,3.90
1644,2017-10-11,8391.506,38.63,2.67,14.40,7.28,5.86,7.76,26.04,10.44,...,31.20,12.55,31.44,14.80,10.49,28.57,16.95,9.02,22.21,3.87
1645,2017-10-12,8415.264,39.99,2.67,14.14,7.37,5.82,7.81,26.37,10.32,...,31.30,12.53,31.29,15.62,10.35,28.49,17.09,9.06,23.24,3.87
1646,2017-10-13,8414.460,40.04,2.66,14.14,7.53,5.81,7.90,26.20,10.27,...,31.18,12.89,32.85,15.93,10.45,27.60,17.08,8.97,23.29,3.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2124,2019-09-25,8527.464,80.68,1.48,7.89,6.01,5.01,14.40,34.35,14.35,...,37.32,9.69,49.13,15.15,9.30,27.84,16.03,7.67,22.14,3.41
2125,2019-09-26,8491.745,80.35,1.47,7.78,6.03,5.00,14.39,35.22,14.46,...,34.18,9.70,48.86,15.25,9.09,28.05,15.51,7.66,22.06,3.31
2126,2019-09-27,8495.943,79.93,1.46,7.77,5.92,4.99,14.41,35.20,14.24,...,34.05,9.74,48.75,15.37,9.16,28.29,15.53,7.61,22.01,3.29
2127,2019-09-30,8409.486,79.78,1.46,7.92,5.91,5.02,14.28,34.75,14.30,...,33.89,9.69,48.50,15.30,9.21,28.52,15.50,7.59,21.83,3.27
2128,2019-10-08,8459.011,77.78,1.47,7.85,5.90,5.00,14.55,34.81,15.11,...,33.69,9.78,49.37,15.55,9.12,28.54,15.48,7.55,21.89,3.26

In [5]:
#### Caculate the percentage change  and obtain the logarithm of them in order to do the OLS about individual stock

In [16]:
# df['sse180'].div(df['sse180'].shift(1))
import pandas as pd
df = pd.read_csv ('final .csv',index_col = "date",parse_dates = True)
# print(df['sse180'].div(df['sse180'].shift(1)))

In [17]:
df.pct_change()

,sse180,sh.600009,sh.600010,sh.600295,sh.600019,sh.600028,sh.600031,sh.600036,sh.600048,sh.600050,...,sh.600547,sh.600598,sh.600600,sh.600690,sh.600875,sh.600887,sh.600895,sh.601006,sh.601877,sh.601899
date,,,,,,,,,,,,,,,,,,,,,
2011-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-05,-0.003980,0.058205,-0.017903,0.013643,-0.015267,-0.010976,0.017106,-0.003840,0.003582,0.014925,...,-0.044151,0.002974,-0.018270,-0.005000,0.025707,-0.006130,-0.004449,-0.010101,0.016543,-0.028743
2011-01-06,-0.005451,0.006112,0.000000,0.035892,0.001550,-0.003699,-0.021818,-0.005397,0.026410,-0.018382,...,-0.012041,0.005930,0.002326,-0.005743,-0.030911,-0.052172,0.003352,0.001276,-0.014646,-0.014797
2011-01-07,0.004825,-0.013667,0.005208,-0.039461,0.015480,0.012376,-0.012546,0.027132,0.000695,0.014981,...,-0.021179,-0.014738,0.017116,-0.000722,-0.030747,-0.004338,0.012249,0.006369,-0.007845,-0.012516
2011-01-10,-0.017165,-0.030023,-0.025907,-0.017535,-0.006098,0.002445,-0.012235,-0.017358,-0.029882,-0.005535,...,0.004287,0.004488,-0.030519,-0.028540,-0.002965,-0.025327,-0.023102,0.005063,-0.006242,-0.013942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-25,-0.001614,-0.002956,-0.007634,0.001159,-0.010638,-0.001992,0.038920,-0.005788,-0.007138,0.003448,...,0.007253,-0.007269,-0.009145,-0.014941,-0.008686,-0.008598,-0.002717,0.003708,-0.001543,0.004854
2019-12-26,0.009237,0.003481,0.000000,0.015046,0.008961,0.001996,0.001813,0.008203,0.039869,0.001718,...,0.000000,0.002092,0.010634,0.040795,0.016429,0.004670,0.023161,0.001232,0.013138,0.012077
2019-12-27,0.000658,-0.007451,0.015385,0.002281,0.008881,0.005976,0.004222,-0.006299,-0.002514,-0.008576,...,0.011584,-0.001044,0.001588,-0.022613,-0.015086,0.017264,-0.000666,-0.003690,-0.010297,0.064439
2019-12-30,0.015634,0.007766,0.000000,0.015927,0.012324,0.005941,0.007808,-0.000792,0.025205,0.019031,...,-0.005881,0.012539,0.012686,-0.007198,0.003282,0.006201,0.020653,0.014815,0.036994,0.006726
2019-12-31,0.002006,0.011431,0.000000,0.010078,-0.001739,0.005906,0.016091,-0.006609,-0.005532,0.000000,...,0.015567,0.005160,-0.001762,0.009839,0.002181,0.003568,-0.000653,-0.001217,-0.004088,0.022272

In [8]:
import numpy as np
data = df.pct_change()
log_val = np.log(data)
print(log_val)

              sse180  sh.600009  sh.600010  sh.600295  sh.600019  sh.600028  \
date
2011-01-04       NaN        NaN        NaN        NaN        NaN        NaN
2011-01-05       NaN  -2.843778        NaN  -4.294510        NaN        NaN
2011-01-06       NaN  -5.097577       -inf  -3.327232  -6.469250        NaN
2011-01-07 -5.333880        NaN  -5.257495        NaN  -4.168214  -4.391977
2011-01-10       NaN        NaN        NaN        NaN        NaN  -6.013715
...              ...        ...        ...        ...        ...        ...
2019-12-25       NaN        NaN        NaN  -6.760415        NaN        NaN
2019-12-26 -4.684525  -5.660514       -inf  -4.196623  -4.714921  -6.216606
2019-12-27 -7.326717        NaN  -4.174387  -6.083360  -4.723842  -5.119988
2019-12-30 -4.158284  -4.858002       -inf  -4.139728  -4.396211  -5.125946
2019-12-31 -6.211508  -4.471446       -inf  -4.597362        NaN  -5.131869

            sh.600031  sh.600036  sh.600048  sh.600050  ...  sh.600547  \
date                                                    ...
2011-01-04        NaN        NaN        NaN        NaN  ...        NaN
2011-01-05  -4.068334        NaN  -5.631928  -4.204693  ...        NaN
2011-01-06        NaN        NaN  -3.634024        NaN  ...        NaN
2011-01-07        NaN  -3.607049  -7.271009  -4.200954  ...        NaN
2011-01-10        NaN        NaN        NaN        NaN  ...  -5.452264
...               ...        ...        ...        ...  ...        ...
2019-12-25  -3.246240        NaN        NaN  -5.669881  ...  -4.926308
2019-12-26  -6.312944  -4.803227  -3.222149  -6.366470  ...       -inf
2019-12-27  -5.467457        NaN        NaN        NaN  ...  -4.458111
2019-12-30  -4.852631        NaN  -3.680721  -3.961679  ...        NaN
2019-12-31  -4.129521        NaN        NaN       -inf  ...  -4.162626

            sh.600598  sh.600600  sh.600690  sh.600875  sh.600887  sh.600895  \
date
2011-01-04        NaN        NaN        NaN        NaN        NaN        NaN
2011-01-05  -5.817855        NaN        NaN  -3.660994        NaN        NaN
2011-01-06  -5.127677  -6.063494        NaN        NaN        NaN  -5.698211
2011-01-07        NaN  -4.067722        NaN        NaN        NaN  -4.402275
2011-01-10  -5.406424        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2019-12-25        NaN        NaN        NaN        NaN        NaN        NaN
2019-12-26  -6.169611  -4.543696  -3.199196  -4.108686  -5.366643  -3.765296
2019-12-27        NaN  -6.445124        NaN        NaN  -4.059116        NaN
2019-12-30  -4.378897  -4.367270        NaN  -5.719218  -5.083038  -3.879900
2019-12-31  -5.266827        NaN  -4.621354  -6.127960  -5.635763        NaN

            sh.601006  sh.601877  sh.601899
date
2011-01-04        NaN        NaN        NaN
2011-01-05        NaN  -4.101817        NaN
2011-01-06  -6.664409        NaN        NaN
2011-01-07  -5.056246        NaN        NaN
2011-01-10  -5.285739        NaN        NaN
...               ...        ...        ...
2019-12-25  -5.597187        NaN  -5.327876
2019-12-26  -6.699500  -4.332280  -4.416428
2019-12-27        NaN        NaN  -2.742034
2019-12-30  -4.212128  -3.296994  -5.001707
2019-12-31        NaN        NaN  -3.804438

[2189 rows x 31 columns]

<ipython-input-8-a2c6d6b0a4b5>:3: RuntimeWarning: divide by zero encountered in log
  log_val = np.log(data)
<ipython-input-8-a2c6d6b0a4b5>:3: RuntimeWarning: invalid value encountered in log
  log_val = np.log(data)

In [9]:
# import math 
# import numpy as np 
# print (math.log(df['sse180'].div(df['sse180'].shift(1))))
# print(np.log(df['sse180'].div(df['sse180'].shift(1))))

In [10]:
# j = np.log(df['sse180'].div(df['sse180'].shift(1)))
# dict = 0.00009027+j
# print(dict)

In [11]:
import pandas as pd
data = pd.read_csv("1.csv", index_col = "DATE")
print (data)

            Unnamed: 0    sse180    Unnamed: 3            y1           sse  \
DATE
2013-10-08         664  5275.141   0.004404386   0.004147916   0.004314116
2013-10-09         665  5298.426  -0.013198728  -0.013288998  -0.013288998
2013-10-10         666  5228.953   0.018751353   0.018661083   0.018661083
2013-10-11         667  5327.928   -0.00019578   -0.00028605   -0.00028605
2013-10-14         668  5326.885  -0.002291767  -0.002382037  -0.002382037
...                ...       ...           ...           ...           ...
2015-09-25        1149  7125.868  -0.000923261  -0.001013531  -0.001013531
2015-09-28        1150  7119.292  -0.020291455  -0.020381725  -0.020381725
2015-09-29        1151  6976.287    0.00779192    0.00770165    0.00770165
2015-09-30        1152  7030.858   0.025997164   0.025906894   0.025906894
2015-10-08        1153  7216.037         #NUM!         #NUM!         #NUM!

            sh.600009           sh1  sh.600010           sh2  sh.600295  ...  \
DATE                                                                     ...
2013-10-08      14.98   0.011194284       4.08  -0.007470377       6.99  ...
2013-10-09      15.15   -0.03228621       4.05  -0.005040775       6.98  ...
2013-10-10      14.67   0.038684641       4.03   0.012240342       6.80  ...
2013-10-11      15.25   0.039760761       4.08   0.004799715       6.99  ...
2013-10-14      15.87   0.002427038       4.10   -0.00989427       7.18  ...
...               ...           ...        ...           ...        ...  ...
2015-09-25      28.17    0.00203739       3.64   0.005389196       7.11  ...
2015-09-28      28.23  -0.019765382       3.66  -0.036255546       7.21  ...
2015-09-29      27.68   0.001353774       3.53   0.005559463       7.04  ...
2015-09-30      27.72   0.032908999       3.55   0.024945808       7.25  ...
2015-10-08      28.65         #NUM!       3.64         #NUM!       7.50  ...

           sh.600887          sh26 sh.600895          sh27 sh.601006  \
DATE
2013-10-08     44.90   0.030829856      8.55   -0.00009027      7.14
2013-10-09     46.31   0.009579946      8.55  -0.008311103      7.06
2013-10-10     46.76  -0.008681388      8.48   0.059423858      7.00
2013-10-11     46.36  -0.020354609      9.00  -0.020292977      7.09
2013-10-14     45.43   0.028337379      8.82   0.095013745      7.30
...              ...           ...       ...           ...       ...
2015-09-25     15.40   0.001207589     20.42  -0.006969904      9.09
2015-09-28     15.42  -0.009865519     20.28  -0.050138622      9.07
2015-09-29     15.27   0.007087575     19.29   -0.01418604      8.82
2015-09-30     15.38   0.030641982     19.02    0.04262268      8.83
2015-10-08     15.86         #NUM!     19.85         #NUM!      9.02

                    sh28 sh.601877         sh29 sh.601899          sh30
DATE
2013-10-08  -0.011357995     22.62  0.005640405      2.60  -0.003943839
2013-10-09  -0.008625172     22.75  0.005607751      2.59  -0.007842247
2013-10-10   0.012684921     22.88  0.011641344      2.57   0.007661707
2013-10-11   0.029098738     23.15  0.095416238      2.59   -0.00009027
2013-10-14  -0.019454637     25.47  0.042943646      2.59   -0.00009027
...                  ...       ...          ...       ...           ...
2015-09-25  -0.002292914     30.62  -0.00009027      3.51  -0.011551714
2015-09-28  -0.028040664     30.62  -0.00009027      3.47   -0.02933212
2015-09-29   0.001042875     30.62  -0.00009027      3.37   0.002872695
2015-09-30   0.021199049     30.62  -0.00009027      3.38   0.029066314
2015-10-08         #NUM!     30.62        #NUM!      3.48         #NUM!

[490 rows x 65 columns]

In [12]:
from regression import Regression
reg = Regression()
print(reg)

You created an instance of Stats
<regression.Regression object at 0x000001B7535B67F0>

In [13]:
import pandas as pd  
import copy
from stats import *    
  
class Regression:  
    def __init__(self):  
        self.stats = stats()  
          
    def OLS(self, reg_name, data, y_name, beta_names, 
            min_val = 0,  
                max_val = None, constant = True):  
        self.min_val = min_val  
        if max_val != None:  
            self.max_val = max_val  
        else:  
            self.max_val = len(data)  
        self.reg_name = reg_name  
        self.y_name = y_name  
        self.beta_names = copy.copy(beta_names)
        self.data = data.copy()  
        if constant:  
            self.add_constant()  
  
    def add_constant(self):  
        self.data["Constant"] = 1  
        self.beta_names.append("Constant")

In [14]:
import pandas as pd
from regression import Regression
reg = Regression()
print(reg)
reg

You created an instance of Stats
<regression.Regression object at 0x000001B75AC7D8B0>

In [18]:
# Selecting Variables

import pandas as pd
data = pd.read_csv("pork.csv", index_col = "DATE")
print (data)

y_var = ["pork price"]
x_vars = ["slaughter", "soybean", 
          "corn ",
          "wheat","beef","mutton","fish"]

reg.OLS(reg_name = "Pork", data = data, y_name = y_var, beta_names = x_vars)
reg.data

            pork price  slaughter     soybean       corn        wheat  \
DATE
1990-01-01   93.147106        934  209.827483  105.900513  167.918579
1990-02-01   80.003995        935  208.449456  106.294167  160.937271
1990-03-01   79.910116       1341  218.279378  109.837318  156.528030
1990-04-01   99.643558       1238  220.667957  118.498337  159.467529
1990-05-01  115.678154        739  228.316003  121.254097  149.179291
...                ...        ...         ...         ...         ...
2020-05-01   62.783500       2097  309.331431  143.989244  174.954969
2020-06-01   46.540000       1822  318.643037  148.042380  169.722337
2020-07-01   46.187273       1955  328.935448  152.587620  170.574122
2020-08-01   52.414286       2397  332.141177  149.393000  174.182477
2020-09-01   65.591429       2800  366.824605  166.602533  204.137314

                  beef      mutton      fish
DATE
1990-01-01  126.309998  111.899986  5.204495
1990-02-01  111.459992  116.170013  5.646819
1990-03-01  112.670013  114.079987  5.610611
1990-04-01  112.129997  121.109993  5.631545
1990-05-01  112.489990  122.519989  5.798833
...                ...         ...       ...
2020-05-01  214.904762  110.341628  6.020297
2020-06-01  215.727273  110.697884  6.784127
2020-07-01  199.304348  110.584672  5.816351
2020-08-01  200.428571  113.421871  5.668188
2020-09-01  197.727273  114.093234  5.436325

[369 rows x 8 columns]

,pork price,slaughter,soybean,corn,wheat,beef,mutton,fish,Constant,pork price estimator
DATE,,,,,,,,,,
1990-01-01,93.147106,934,209.827483,105.900513,167.918579,126.309998,111.899986,5.204495,1,68.426833
1990-02-01,80.003995,935,208.449456,106.294167,160.937271,111.459992,116.170013,5.646819,1,68.628239
1990-03-01,79.910116,1341,218.279378,109.837318,156.528030,112.670013,114.079987,5.610611,1,65.426281
1990-04-01,99.643558,1238,220.667957,118.498337,159.467529,112.129997,121.109993,5.631545,1,68.569708
1990-05-01,115.678154,739,228.316003,121.254097,149.179291,112.489990,122.519989,5.798833,1,74.409012
...,...,...,...,...,...,...,...,...,...,...
2020-05-01,62.783500,2097,309.331431,143.989244,174.954969,214.904762,110.341628,6.020297,1,73.337467
2020-06-01,46.540000,1822,318.643037,148.042380,169.722337,215.727273,110.697884,6.784127,1,78.165524
2020-07-01,46.187273,1955,328.935448,152.587620,170.574122,199.304348,110.584672,5.816351,1,74.024779
2020-08-01,52.414286,2397,332.141177,149.393000,174.182477,200.428571,113.421871,5.668188,1,69.476950
2020-09-01,65.591429,2800,366.824605,166.602533,204.137314,197.727273,114.093234,5.436325,1,66.360604

In [ ]:
df['sh.600009-rate'] = df["sh.600009"] - df["rate"]
df['sh.600010-rate'] = df["sh.600010"] - df["rate"]
df['sh.600295-rate'] = df["sh.600295"] - df["rate"]
df['sh.600028-rate'] = df["sh.600028"] - df["rate"]
df['sh.600031-rate'] = df["sh.600031"] - df["rate"]
df['sh.600036-rate'] = df["sh.600036"] - df["rate"]
df['sh.600048-rate'] = df["sh.600048"] - df["rate"]
df['sh.600050-rate'] = df["sh.600050"] - df["rate"]
df['sh.600066-rate'] = df["sh.600066"] - df["rate"]
df['sh.600068-rate'] = df["sh.600068"] - df["rate"]
df['sh.600085-rate'] = df["sh.600085"] - df["rate"]
df['sh.600111-rate'] = df["sh.600111"] - df["rate"]
df['sh.601628-rate'] = df["sh.601628"] - df["rate"]
df['sh.600150-rate'] = df["sh.600150"] - df["rate"]
df['sh.600196-rate'] = df["sh.600196"] - df["rate"]
df['sh.600295.1-rate'] = df["sh.600295.1"] - df["rate"]
df['sh.600406-rate'] = df["sh.600406"] - df["rate"]
df['sh.601933-rate'] = df["sh.601933"] - df["rate"]
df['sh.600536-rate'] = df["sh.600536"] - df["rate"]
df['sh.600547-rate'] = df["sh.600547"] - df["rate"]
df['sh.600598-rate'] = df["sh.600598"] - df["rate"]
df['sh.600600-rate'] = df["sh.600600"] - df["rate"]
df['sh.600690-rate'] = df["sh.600690"] - df["rate"]
df['sh.600875-rate'] = df["sh.600875"] - df["rate"]
df['sh.600887-rate'] = df["sh.600887"] - df["rate"]
df['sh.600895-rate'] = df["sh.600895"] - df["rate"]
df['sh.601006-rate'] = df["sh.601006"] - df["rate"]
df['sh.601877-rate'] = df["sh.601877"] - df["rate"]
df['sh.601899-rate'] = df["sh.601899"] - df["rate"]
df

In [ ]:
# Selecting Variables
import pandas as pd
data = pd.read_csv("sse3.csv", index_col = "DATE")
y_var = ["sh.600009"]
x_var = ["sse180"]
y_var = ["sh.600010"]
reg.OLS(reg_name = "single stock", data = data, y_name = y_var, beta_names = x_var)
reg.data

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
df = pd.read_csv("sse3.csv", index_col = "DATE")
X = df['sse180']
y = df['sh.600009']
X = sm.add_constant(X)
# est = smf.ols(formula='sh.600009 ~ sse180', data=df).fit() 
est = sm.OLS(y, X).fit()
print(est.summary())